.message-container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust height as needed */
  }
  
  .message-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color : #4A6674;
    background-size: cover;
    background-position: center;
  }
  
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
    text-align: center;
  }